.home-page {
  
  background: url('../../images/home-bg.jpg') no-repeat center center fixed;
  @include background-size(cover);

  .home-search {
    margin: $hundred auto;
    padding: 50px;
    width:8 * $hundred;


    .search-input {
      margin: 2 * $ten 0;
    }
  }
}