.home-page {
	margin-top: -0.85*$hundred;
	background-color: $palette-dark-brown;
	height: 600px;
	@include background-size(cover);

	.home-search {
		margin: 1.5*$hundred auto;
		padding: 50px;
		width:8 * $hundred;

		.search-form {
			position: relative;
		}

		.search-input {
			margin: 2*$ten 0;
			background-color: $palette-background;
		}

		.search-button {
			float: right;
			margin-top: 10px;
			padding: 8px 40px;
			background: $palette-mocha;
		}
	}

	.welcome-message {
		text-align: center;
		color: $palette-background;
		font-weight: 700;

		h1 {
			font-size: 44px;
			line-height: 45px;
		}
		h3 {
			font-size: 32px;
			line-height: 45px;
		}
	}
}

.home-content-area {
	margin-bottom: 5*$ten;
	.h3 {
		color: #3E6373;
	}
	p {
		font-size: 18px;
		font-family: Georgia;
	}
	hr {
		margin-top: 50px;
		margin-bottom: 20px;
		border: 0;
		border-top: 1px solid #e8e8e8;
		margin-left: 170px;
		margin-right: 170px;
	}
}