/* Styles related to Navigation Bar */

.navbar {
	background: $black;
	border-radius:0;
	box-shadow:none;
	border:none;
	li {
		font-size: 14px;
		text-transform: uppercase;
		border-bottom: 0 solid transparent;
		@include transition(0.05s, 0.05s);
		a {
			background: transparent;
			@include transition(0.05s, 0.05s);
			&:hover {
				@include transition(0.05s, 0.05s);
			}
		}
		&:hover {
			background: transparent !important;
			text-decoration: underline;
			@include transition(0.05s, 0.05s);
		}
	}
}