/* Styles related to Navigation Bar */

.navbar {
	z-index: 9999;
	background: transparent;
	min-height: $navigation-height;
	border-radius:0;
	box-shadow:none;
	border:none;

	.navbar-brand {
		margin-left: -20px !important;
		height: $navigation-height;
		padding: 19.5px 15px;
		@include transition(0.05s, 0.05s);
		
		&:hover {
			@include transition(0.05s, 0.05s);
		}
	}

	.navbar-toggle {
		margin-right: 12px;
		padding: 17px 10px;
	}

	li {
		font-size: 14px;
		border-bottom: 0 solid transparent;
		@include transition(0.05s, 0.05s);
		a {
			background: transparent;
			@include transition(0.05s, 0.05s);
			&:hover {
				@include transition(0.05s, 0.05s);
			}
		}
		&:hover {
			background: transparent !important;
			@include transition(0.05s, 0.05s);
		}
		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}
}

.home {
	.navbar-brand {

		color: $palette-mocha;

		&:hover {
			color: $palette-mocha-light;
		}
	}

	.navbar {
		li {
			a {
				color: $palette-mocha;

				&:hover {
					color: $palette-mocha-light;
				}
			}
		}
	}
}