.thumbnail {
	border: none;
	margin-top: 30px;
	margin-bottom: 30px;
	background: #fefefe;
	
	.caption, .work {
		text-align: center;
	}

	.work {
		margin-top: -15px;
	}
	
	.caption {
		font-weight: 700;
	}

	img {
		border-radius: 50%;
		max-width: 100%;
		max-height: 150px;
	}
}

.people {
	background: #fefefe;
}

.aboutus {

	.carousel .item {
		width: 100%; /*slider width*/
		max-height: 600px; /*slider height*/
	}
	
	.carousel .item img {
		width: 100%; /*img width*/
	}
}

.contentarea {
	margin: 20px 0;
	p {
		font-size: 16px;
		font-family: Georgia;
	}
}

.contactus {
	.page-content {
		margin-top: -15px;
	}
	.spacer {
		margin: -5px 0 20px 0;
	}
}

.contributors {
	table {
		thead {
			th {
				font-weight: 600;
			}
		}
	}
}

.error404, .rareglyphs {
	.home-page-button {
		margin: 40px 0;
	}
}

.resultpage {
	.contribution-button {
		background: $palette-mocha;
	}

	.submit-button {
		background: $palette-mocha;
	}
}