.page-header {
	h1 {
		font-weight: 700;
		font-size: 36px;
	}
	text-align: center;
}

.page-content {
	h3 {
		span {
			font-weight: 500;
			margin-left: 10px;
		}
		padding: 10px;
		border-bottom: 1px dotted #eee;
	}
	.table {
		td {
			border: none;
		}
	}

	.people {
		.thumbnail {
			img {
				@include border-radius(50%);
			}
			.caption {
				margin:10px 0;
				text-align: center;
				font-weight: 500;
			}
			.work {
				text-align: center;
				font-size:12px;
			}

			padding:40px 0;
			border: none;
		}
	}

	#contactusform {
		padding: 20px 0 20px 0;
	}

	#addresstable {
		margin-top:20px;
	}
}