/* One Conjunct Page */

.resultpage {
	
	.result-header {

		.completealphabet {
			margin-left: -15px;
		}

		.primary-details {
			margin: 10px 0 45px 0;

			tr {
				height: 50px;
			}
		}

		.combination {
			font-family: "Ek Mukta", "Lato", sans-serif;
			font-weight: 300;
			font-size: 24px;
		}

		.language {
			font-size: 20px;
			margin-top: 0px;
			margin-bottom: 1px;
			.h3 {
				font-weight: 300;
			}
		}

		.h3 {
			font-weight: 200;
		}

	}

	.label {
		font-size: 18px;
		color: #333;
		margin-left: 20px;
	}

	.completealphabet {
		font-family: "Ek Mukta", "Lato", sans-serif;
		font-weight: 300;
		text-align: center;
		margin: 2*$ten 0;
		background: transparent;
		padding: 4*$ten 0;
		border: 1px solid darken(#f9f9f9,5%);
		border-radius: 2px;
	}

	.conjunct-heading {
		font-size: 24px;
		font-weight: 400;
		color: $palette-dark-brown;
		margin-top: 0;
	}

	.meaning-details {
		tr {
			height: 4*$ten;
		}

		.name {
			width: 15*$ten;
			margin-left: -15px;
			span {
				margin-left: 0;
				padding-left: 0;
			}
		}

		.definition {
			font-size: 2*$ten;
			font-weight: 200px;
		}
	}

	.contribute-jumbo {
		padding: 5*$ten 6.5*$ten 1.5*$ten 6.5*$ten;
		background: #f9f9f9;
		margin-top: 25px;

		.submit-button {
			padding:5px 25px;
		}
	}

	hr {
		margin-left: -15px;
		margin-right: -15px;
	}

	.keyboardInputInitiator {
		position: absolute;
		right: 55px;
		top: 160px;
	}
}