/* Search Results Page */

.resultcard {
	font-family: "Ek Mukta", "lato", sans-serif;
	text-align: center;
	background-color: #f9f9f9;
	padding: $ten;
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: $ten;
	margin-bottom: $ten;
	min-height: 80px;
	max-height: 80px;
	color: #3e6373;
	border: 1px solid transparent;
	@include border-radius(2px);
	@include transition(0.2s,0);

	.completealphabet {
		font-size: 52px;
		padding: 0px 0 5px;
		margin: 0;
		font-weight: 300;
		display: block;
		margin-left: -15px;
	}

	.separated {
		display: none;
		font-size: 36px;
		padding: 18px;
		position: relative;
		.add {
			font-size: 18px;
		}
	}
	&:hover {
		color: #3e6373;
		border: 1px solid darken(#f9f9f9, 5%);
		text-decoration: none;
		@include transition(0.2s,0);

		.completealphabet {
			display: none;
		}
		.separated {
			display: block;
		}
	}
	&:active, &:focus {
		color: #3e6373;
		text-decoration: none;
	}
}