#terminologypage {
	#accordion {

		.panel {
			margin-bottom: -1px;
			padding:0;
			a {
				display: block;
				padding: 10px;
			}
		}
		.panel-heading {
			padding: 0;
			border-bottom: none;

			a {
				text-decoration: none;
				i {
					margin-left:2px;
					margin-right: 10px;
					@include rotation(0);
					@include transition(0.05s,0.05s);
				}
				&:hover {
					i {
						@include rotation(90deg);
						@include transition(0.05s,0.05s);
					}
				}
			}

		}
		.panel-body {
			padding: 0;
			ul {
				padding-left:20px;
			}
		}
	}
}