// All Widget Styles go here

.well.widget {
	@include border-radius(0px);
	border:5px solid #ddd;
	
	.widget-header {
		h3 {
			color: $white;
		}
		background: #374256;
		float: $right;
		display: block;
		margin: -19px;
		padding: $padding-standard/2;
		text-transform: capitalize;
	}

	.widget-header.widget-header-custom {
		float: none;
	}

	.widget-content {
		padding: 15px;
		margin: 20px 0;
		.widget-subheading {
			font-size: 24px;
			font-weight: 600;
		}
		.widget-readmore {
			float: right;
			margin-bottom:$padding-standard/2;
		}
	}

	.widget-element-list {
		margin-top: $padding-standard;
		li {
			float: left;
			display: block;
			width: 100%;
			border-bottom: 1px solid #ccc;
			padding: $padding-standard 0;
		}
	}

	.label {
		color: $default-font-color;
		font-size: $default-font-size;
		text-transform: capitalize;
	}
}

#ofthedaywidget {
	background: #eee;
	.leftcontent {
		img {
			margin: $padding-standard;
		}
	}
	.rightcontent {
		margin: $padding-standard 0;
		.imagearea {
			.label {
				display: block;
				width: 100%;
				text-align: left;
			}
			img {
				display: block;
				float: left;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.widget-half {
		width:48%;
	}

	#popularglyphwidget {
		margin-left: 4%;
	}
}