// All Widget Styles go here

.well.widget {
	border:5px solid #ddd;
	@include border-radius(0px);
	.widget-header {
		h3 {
			color: $white;
		}
		background: #374256;
		float: $right;
		display: block;
		margin: -19px;
		padding: $padding-standard/2;
		text-transform: capitalize;
	}

	.widget-header.widget-header-custom {
		float: none;
	}

	.widget-content {
		padding: 15px;
		margin: 20px 0;
		.widget-subheading {
			font-size: 24px;
			font-weight: 600;
		}
		.widget-readmore {
			float: right;
			margin-bottom:$padding-standard/2;
		}
	}

	.widget-element-list {
		margin-top: $padding-standard;
		li {
			float: left;
			display: block;
			width: 100%;
			border-bottom: 1px solid #ccc;
			padding: $padding-standard 0;
		}
	}

	.label {
		color: $default-font-color;
		font-size: $default-font-size;
		text-transform: capitalize;
	}

	.separated {
		font-size: 24px;
	}

	.completealphabet {
		font-size: 48px;
		text-align: center;
		padding: 32px 0;
		background: #fefefe;
		height: 90px;
		width: 90px;
	}

	.widgetgroup {
		.label {
			padding: 0;
		}
	}
}

#ofthedaywidget, #recentglyphwidget {

	.leftcontent {
		margin: 10px 0;
	}
	.rightcontent {
		.imagearea {
			.label {
				display: block;
				width: 100%;
				text-align: left;
			}
			img {
				display: block;
				float: left;
			}
		}
	}
}

/* The classes for the image for the keyboard */
.keyboardInputInitiator {
  position: absolute;
  right: 90px;
  top: 15px;
  z-index: 100;
}

@media screen and (min-width: 992px) {
	.widget-half {
		width:48%;
	}

	#popularglyphwidget {
		margin-left: 4%;
	}
}