/* All your variable names will go here */

$default-font-stack:"Lato", "Ek Mukta", Arial;
$default-font-size: 16px;
$default-font-color: #0d0f01;
$default-background-color: #fefefe;
$white : #ffffff;
$black : #000000;
$dark-grey: #181818;
$medium-grey: #646464;
$light-grey: #868686;

/* Dimensions and Positioning */
$default-container-width: 960px;
$padding-standard: 20px;

$left: left;
$right: right;

$hundred: 100px;
$ten: 10px;

/* Navigation Related Colors */
$navigation-height: 45px;
$navbar-background-color: #181818;
$navbar-font-color: #e1e1e1;



/* Color Pelette */

$palette-dark-brown: #372f2f;
$palette-light-brown: #4f4645;
$palette-mocha: #9d8f8d;
$palette-mocha-light: #d8c4c2;
$palette-background: #f3eeed;




$text-color: #f9f9f9;