/* All your variable names will go here */

$default-font-stack:"Ek Mukta", helvetica;
$default-font-size: 16px;
$default-font-color: #0d0f01;
$default-background-color: #fefefe;
$white : #ffffff;


/* Navigation Related Colors */
$navbar-background-color: #273c4a;