/* This is the index of the stylesheet and should
   only consist of the global stuff required to
   run the project. Rest everything should come from
   it's respective partial.
*/

@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200,300,400,600,700);

@import "compass/reset";

/* Global imports happen here */

@import "partials/global/variables";
@import "partials/global/mixins";


/* File wise imports happen here */

@import "partials/navigation";
@import "partials/home";
@import "partials/page";
@import "partials/terminology";
@import "partials/conjuncts";
@import "partials/search";
@import "partials/widget";
@import "partials/footer";




/* Global Styles Start here */

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: $default-font-stack;
	font-size: $default-font-size;
	color: $default-font-color;
	background-color: $default-background-color;
	line-height:25px;
}



h1, h2, h3, h4, h5, h6 {
	line-height: 30px;
}

.container-fluid {
	max-width: $default-container-width;
}

.italicise {
	font-style: italic;
}


/* Forms Base */

input[type="text"],
input[type="password"],
input[type="email"] {
	border-radius: 0;
	outline: none;
	border: 0;

	&:focus {
		border: none;
		box-shadow: none;
	}
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::-moz-placeholder {
	color:#eee;
}


/* Custom custom-dropdowns */

.select {
	position: relative;
}

.select select {
	letter-spacing: 1px;
	font-weight: 100;
	color: #A0A1A1;
	font-size: 16px;
	background: #2B2D2E;
	width: 150px;
	padding: 15px 10px;
	margin: 10px 0;
	border: 0;
	border-radius: 2px;
	-webkit-appearance: none;
}

.custom-dropdown-wrapper {
	/* Size and position */
	position: relative;
	width: 150px;
	padding: 10px 10px 10px 10px;

	/* Styles */
	background: #2B2D2E;
	border-bottom: 1px solid #2B2D2E;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	color: #A0A1A1;
	margin: 10px 0px;
	opacity:0.8;
	z-index: 999;

	.dropdown {
		position: absolute;
		top: 100%;
		margin-top: 1px;
		left: 0;
		right: 0;
		background: white;
		border: inherit;
		border-top: none;
		list-style: none;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		opacity: 0;
		pointer-events: none;

		li {
			position: relative; /* Enable absolute positioning for checkboxes */
			background: #2B2D2E;

			label {
				display: block;
				padding: 10px 10px 10px 10px; /* Same padding as the button */
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;				
			}

			input[type="checkbox"] {
				position: absolute;
				display: block;
				right: 10px;
				top: 50%;
				margin-top: -8px;
			}

			&:last-of-type {
				label {
					border: none;
					border-radius: 0 0 2px 2px;
				}
			}

			&:hover {
				label {
					background: darken(#2B2D2E, 20%);
				}
			}
		}
	}

	&:hover {
		opacity:0.9;
	}

	&:after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -3px;
		border-width: 6px 6px 0 6px;
		border-style: solid;
		border-color: #A0A1A1 transparent;		
	}

	&.active {
		border-radius: 2px 2px 0 0;
		opacity:0.9;

		.dropdown {
			opacity: 1;
			pointer-events: auto;
		}

		&:after {
			border-width: 0 6px 6px 6px;
		}
	}
}

/* Custom Button Styles */

.btn {
	opacity: 0.8;
	border: none;
	border-radius: 2px;
}

.btn:hover {
	opacity: 0.9;
	box-shadow:none;

}

.btn:focus {
	opacity:1;
	box-shadow:none;
}

.btn-lg {
	font-weight: 100;
	font-size: 16px;
}

/* Chosen Styles */

.chosen-container {
	display: block;
	float: left;
	width: 100%;
	margin-top: 15px;
	height: 35px;
}

.custom-chosen {
	float: left;
	margin-right: 10px;
	padding: 5px 10px;
	background: #2B2D2E;
	color: #A0A1A1;
	margin-bottom: 20px;
	opacity: 0.9;
}

.delete-tab {
	cursor: pointer;
	float: left;
	display: block;
	width: 20px;
	text-align: center;
	margin-left: -10px;
	margin-right: 10px;
	padding: 0 10px;
}