/* This is the index of the stylesheet and should
   only consist of the global stuff required to
   run the project. Rest everything should come from
   it's respective partial.
*/
@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200,300,400,600,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Global imports happen here */
/* All your variable names will go here */
/* Dimensions and Positioning */
/* Navigation Related Colors */
/* Widget specific Variables */
/* All mixins go here */
/* File wise imports happen here */
/* Styles related to Navigation Bar */
.navbar {
  background: #181818;
  min-height: 65px;
  color: #e1e1e1;
  border-radius: 0;
  box-shadow: none;
  border: none;
}
.navbar .navbar-brand {
  height: 65px;
  padding: 19.5px 15px;
}
.navbar .navbar-toggle {
  margin-right: 12px;
  padding: 17px 10px;
}
.navbar li {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 0 solid transparent;
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
.navbar li a {
  background: transparent;
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
.navbar li a:hover {
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
.navbar li:hover {
  background: transparent !important;
  text-decoration: underline;
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
.navbar li:last-child a {
  padding-right: 0;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 21.5px;
    padding-bottom: 21.5px;
  }
}
.page-header h1 {
  font-weight: 700;
  font-size: 36px;
}

.page-content h3 {
  padding: 10px;
}
.page-content h3 span {
  font-weight: 500;
  margin-left: 10px;
}
.page-content .table td {
  border: none;
}
.page-content .people .thumbnail {
  padding: 40px 0;
  border: none;
}
.page-content .people .thumbnail img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.page-content .people .thumbnail .caption {
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
}
.page-content .people .thumbnail .work {
  text-align: center;
  font-size: 12px;
}
.page-content .resultcard {
  color: #333;
  text-decoration: none;
  background: #eee;
  padding: 40px 20px;
  text-align: center;
  max-height: 380px;
  width: 30%;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px transparent;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.1s ease-out 0.1s;
  -moz-transition: 0.1s ease-out 0.1s;
  -ms-transition: 0.1s ease-out 0.1s;
  transition: 0.1s ease-out 0.1s;
}
.page-content .resultcard .cardlabel {
  font-style: italic;
}
.page-content .resultcard .cardheadholder {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.page-content .resultcard .cardheadholder .completealphabet {
  font-size: 128px;
  padding: 60px 0;
}
.page-content .resultcard .separated {
  margin: 5px 0;
  font-size: 24px;
}
.page-content .resultcard .example-container {
  display: none;
  background: #1967BE;
  position: absolute;
  margin: -60px -20px;
  height: 100px;
  width: 100%;
  color: #fefefe;
  padding: 20px 0;
}
.page-content .resultcard .example-container .examples {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.page-content .resultcard:hover {
  cursor: normal;
  background: #ccc;
  box-shadow: 0 0 5px #ddd;
  -webkit-transition: 0.1s ease-out 0.1s;
  -moz-transition: 0.1s ease-out 0.1s;
  -ms-transition: 0.1s ease-out 0.1s;
  transition: 0.1s ease-out 0.1s;
}
.page-content .resultcard:hover .example-container {
  display: block;
}
.page-content .cardspacer {
  margin-bottom: 20px;
  min-width: 200px;
}
.page-content #contactusform {
  padding: 20px 0 20px 0;
}
.page-content #addresstable {
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .resultcard {
    width: 30%;
  }

  .cardspacer {
    margin-left: 2.5%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .cardspacer {
    margin-left: 4%;
  }
}
#terminologypage #accordion .panel {
  margin-bottom: -1px;
  padding: 0;
}
#terminologypage #accordion .panel a {
  display: block;
  padding: 10px;
}
#terminologypage #accordion .panel-heading {
  padding: 0;
  border-bottom: none;
}
#terminologypage #accordion .panel-heading a {
  text-decoration: none;
}
#terminologypage #accordion .panel-heading a i {
  margin-left: 2px;
  margin-right: 10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
#terminologypage #accordion .panel-heading a:hover i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
#terminologypage #accordion .panel-body {
  padding: 0;
}
#terminologypage #accordion .panel-body ul {
  padding-left: 20px;
}

#conjunctspage .massive {
  font-size: 144px;
}
#conjunctspage .primary-search-container {
  background: #d1e3ec;
  min-height: 290px;
}
#conjunctspage .primary-search-container .leftcontent {
  margin-top: 15px;
}
#conjunctspage .primary-search-container .leftcontent .completealphabet {
  padding: 20px;
  text-align: center;
  padding: 50px 10px;
  margin: 0;
  background: #ffffff;
  color: #000000;
}
#conjunctspage .heading-column {
  border-top: 1px solid #ddd;
}
#conjunctspage .heading-column .conjunct-heading {
  padding: 0;
  margin-left: -15px;
  margin-top: 12px;
}
#conjunctspage .heading-column .conjunct-heading span {
  background: #D0C697;
  color: #ffffff;
  padding: 10px;
}
#conjunctspage .combination-container {
  min-height: 275px;
}
#conjunctspage .combination-container div {
  margin-top: 15px;
}
#conjunctspage .combination-container .combination-possibility {
  text-align: center;
}
#conjunctspage .examplealphabet {
  padding: 20px 50px;
  text-align: left;
}
#conjunctspage .primary-details {
  margin-top: 35px;
}
#conjunctspage .primary-details .label {
  color: #333;
  font-weight: 300;
  font-size: 24px;
}
#conjunctspage .primary-details tr td {
  padding: 20px 0;
}
#conjunctspage .primary-details tr td.name {
  padding-right: 100px;
}
#conjunctspage .primary-details tr td.definition {
  font-weight: 300;
}
#conjunctspage .meaning-details {
  margin-left: 60px;
}
#conjunctspage .meaning-details .label {
  color: #333;
  font-weight: 500;
  font-size: 18px;
}
#conjunctspage .meaning-details tr td {
  padding: 10px 0;
}

.more-options {
  width: 100%;
  display: block;
  padding: 20px 0;
}
.more-options p {
  margin: 4px 10px 4px 0;
}

.well.widget {
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.well.widget .widget-header {
  background: #374256;
  float: right;
  display: block;
  margin: -19px;
  padding: 5px;
  text-transform: capitalize;
}
.well.widget .widget-header h3 {
  color: #ffffff;
}
.well.widget .widget-link {
  color: #000000;
  display: block;
  float: left;
  width: 100%;
  padding: 10px 0;
  height: 115px;
}
.well.widget .widget-header.widget-header-custom {
  float: none;
}
.well.widget .widget-content {
  padding: 15px;
  margin: 20px 0;
}
.well.widget .widget-content .widget-subheading {
  font-size: 24px;
  font-weight: 600;
}
.well.widget .widget-element-list {
  margin-top: 20px;
}
.well.widget .widget-element-list li {
  float: left;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.well.widget .label {
  color: #0d0f01;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 200;
}
.well.widget .separated {
  font-size: 24px;
}
.well.widget .completealphabet {
  font-size: 32px;
  text-align: center;
  padding: 25px 0;
  background: #fefefe;
  height: 75px;
  width: 75px;
}
.well.widget .widgetgroup .label {
  padding: 0;
}
.well.widget.widget-left {
  padding-bottom: 0;
  background: #CAE9D5;
}
.well.widget.widget-left .completealphabet {
  border: 2px solid #50A674;
}
.well.widget.widget-left .widget-header {
  background: #50A674;
}
.well.widget.widget-left .widget-element-list {
  background: #CAE9D5;
  margin-left: -19px;
  margin-right: -19px;
}
.well.widget.widget-left .widget-element-list li {
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
.well.widget.widget-left .widget-element-list li:hover {
  background: #89c19a;
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
.well.widget.widget-right {
  padding-bottom: 0;
  background: #E9E4C9;
}
.well.widget.widget-right .completealphabet {
  border: 2px solid #BBAB57;
}
.well.widget.widget-right .widget-header {
  background: #BBAB57;
}
.well.widget.widget-right .widget-element-list {
  background: #E9E4C9;
  margin-left: -19px;
  margin-right: -19px;
}
.well.widget.widget-right .widget-element-list li {
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
.well.widget.widget-right .widget-element-list li:hover {
  background: #CCC28A;
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
.well.widget.widget-bottom {
  background: #E0C4C5;
}
.well.widget.widget-bottom .widget-header {
  background: #B25259;
}
.well.widget.widget-bottom .widget-subheading {
  margin-bottom: 17px;
}
.well.widget.widget-bottom .widget-readmore {
  float: left;
  margin: 10px 0;
  border: 2px solid #181818;
  background: transparent;
  color: #181818;
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
.well.widget.widget-bottom .widget-readmore:hover {
  background: #181818;
  color: #ffffff;
  -webkit-transition: 0.05s ease-out 0.05s;
  -moz-transition: 0.05s ease-out 0.05s;
  -ms-transition: 0.05s ease-out 0.05s;
  transition: 0.05s ease-out 0.05s;
}
.well.widget.widget-top {
  background: #D1E3EC;
}
.well.widget.widget-top .leftcontent .completealphabet {
  font-size: 72px;
  height: auto;
  width: 185px;
  padding: 75px 0 30px 0;
}
.well.widget.widget-top .leftcontent .completealphabet h1 {
  margin-bottom: 30px;
}
.well.widget.widget-top .widget-header {
  background: #336E8E;
}
.well.widget.widget-top .spacer {
  margin-bottom: 30px;
}
.well.widget.widget-top .imagearea {
  height: 115px;
}
.well.widget.widget-top .imagearea .moreforms {
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
  margin-left: 10px;
}

#ofthedaywidget .leftcontent, #recentglyphwidget .leftcontent, #popularglyphwidget .leftcontent {
  margin-top: 10px;
  margin-bottom: 10px;
}
#ofthedaywidget .rightcontent .imagearea .label, #recentglyphwidget .rightcontent .imagearea .label, #popularglyphwidget .rightcontent .imagearea .label {
  display: block;
  width: 100%;
  text-align: left;
}
#ofthedaywidget .rightcontent .imagearea img, #recentglyphwidget .rightcontent .imagearea img, #popularglyphwidget .rightcontent .imagearea img {
  display: block;
  float: left;
  margin: 10px;
}

/* The classes for the image for the keyboard */
.keyboardInputInitiator {
  position: absolute;
  right: 90px;
  top: 15px;
  z-index: 100;
}

@media screen and (min-width: 992px) {
  .widget-half {
    width: 48%;
  }

  #popularglyphwidget {
    margin-left: 4%;
  }
}
/* Styles related to Footer */
.footer .attribution {
  text-align: center;
}

/* Global Styles Start here */
body {
  font-family: "Ek Mukta", "Source Sans Pro", Arial;
  font-size: 16px;
  color: #0d0f01;
  background-color: #fefefe;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 30px;
}

.container-fluid {
  max-width: 960px;
}

.italicise, .well.widget.widget-top .imagearea {
  font-style: italic;
}
